/* your styles go here */
a:hover, a:active, a:link, a:visited {
    text-decoration: none;
}
img.logo {
    width: 100px;
    height: auto;
}
span.circle {
    color: #fff;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    text-align: center;
    padding: 2px;
}
span.circle.inactive-user {
    background-color: #ffce56;
}
span.circle.active-user {
    background-color: #33b35a;
}
table td.operations a {
    margin: 0px 10px;
}
table td.operations i.icon {
    font-size: 1.1rem !important;
}
table td.operations a:first-child {
    margin-left: 0px;
}
.btn i.icon {
    margin: 0px 10px 0px 0px;
    vertical-align: middle;
}
#side-main-menu i.icon {
    font-size: 1.8rem !important;
    vertical-align: middle;
    width: 25px;
}
nav.side-navbar a {
    padding: 6px 12px;
}
.menu-btn i.icon {
    font-size: 1.5rem;
}
a[href="#"] {
    outline: none;
}
.flash-output > div {
    margin-top: 2rem;
}
section.error400 {
    margin-top: 2rem;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 580px;
}
#map2 {
    height: 240px;
}
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    }

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content, #map2 #infowindow-content {
    display: inline;
    font-size: 1.1rem;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

.hasDatepicker {
    padding: .5rem .75rem;
}

.datepicker td, .datepicker th {
    width: 2rem;
}

.datepicker table tr td.active.active, 
.datepicker table tr td.active.disabled, 
.datepicker table tr td.active.disabled.active, 
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active, 
.datepicker table tr td.active.disabled:hover, 
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover, 
.datepicker table tr td.active:hover.active, 
.datepicker table tr td.active:hover.disabled, 
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
    background: #33b35a !important;
}

#qrcode {
    margin-top: 2rem;
}
 
table.table-hover tr td:not(:last-child) {
    cursor: pointer;
}
/*Modal styles*/
.modal div[class*="col-"] {
    margin-bottom: 5px !important;
}
.modal div.serviceFields div[class*="col-"],
.modal div.serviceFields label {
    margin-bottom: 0px;
    font-size: 0.75rem;
}
.modal .form-control-static {
    padding-bottom: 0px;
}
table td[data-toggle="modal"]:hover {
    background-color: #33b35a;
}